.idea/.name
.idea/encodings.xml
.idea/modules.xml
.idea/sklep.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
.idea/misc.xml
.idea/dictionaries/krystian.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
